<!doctype html>
<html lang="bg">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-8786433-9"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);
}
gtag('js', new Date());
gtag('config', 'UA-8786433-9');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/main-18202.css" type="text/css">
<link rel="stylesheet" href="/css/standing-18202.css" type="text/css">
<meta name="description" content="Класиране Висша Лига, Англия, общо, по домакинства и гостувания. Изпадащи и качващи се отбори, участие в международни турнири и др."/>
<title>Класиране Англия, Висша Лига | Tipster</title>
<script async src="/js/no-scroll-18202.js"></script>
<script async src="/js/seasons-18202.js"></script>
<script>
var SEASONS_BASE_LINK = "/klasirane/anglia/vissha-liga";

</script>
</head>
<body>
<div id="modal-overlay" class="modal-hidden"></div><div id="modal-window" class="modal-hidden"></div><div id="modal-window2" class="modal-hidden"></div>
<header>
<div id="header-logo"></div>

<span id="burger">
<span id="brg1" class="hamburger"></span>
<span id="brg2" class="hamburger"></span>
<span id="brg3" class="hamburger"></span>
</span>
</label>

</label>
<span id="nav-controls">
<a href="/account/login" title="Вход" id="nav-icon-login" class="nav-icons"></a>
</span>
<nav id="top-nav" class="top-nav">
<a id="burger-close">
<span id="burgerc">
<span id="brgc1" class="hamburger1"></span>
<span id="brgc2" class="hamburger1"></span>
</span>
</a>
</label>
</nav>
</header>
<div id="main">
<div id="standing-wrapper">

<div id="nstanding">
<div id="data-col">

<div id="standing-navigation"><ul>
<li><span>Висша Лига</span></li>
</ul></div>
<div class="standing-title-wrapper">
<h1 class="standing-title">Висша Лига - Англия</h1>
<img class="standing-country-flag" src="/images/countries/anglia.svg" alt="Класиране Англия"/>
</div>

<div class="seasons-select">
<a href="#" onclick="return openSeasonsWindow();"><span class="seasons-label">Сезон:</span><span>2020 - 2021</span><img class="seasons-select-button" src="/svg/select.svg" alt="избор на сезон"/></a>
</div>
<div class="top-ad-3">
</div>
<table class="standing">
<thead>
<tr>
<th title="Позиция в класирането">&#8470;</th>
<th title="Футболен отбор">Отбор</th>
<th title="Изиграни мачове до момента">М</th>
<th title="Победи" class="hide-matches">П</th>
<th title="Равенства" class="hide-matches">Р</th>
<th title="Загуби" class="hide-matches">З</th>
<th title="Вкарани голове" class="hide-goals">Вк</th>
<th title="Получени голове" class="hide-goals">Пл</th>
<th title="Голова разлика">ГР</th>
<th title="Точки" class="points">Т</th>
</tr>
</thead>
<tbody>
<tr class="">
<td class="position stp11" title="Шампионска Лига">1</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/tLmXERP9keYhJbV9y3G3">Ливърпул</a></span></span></td>
<td class="matches">16</td>
<td class="matches hide-matches">9</td>
<td class="matches hide-matches">6</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">37</td>
<td class="goals hide-goals">20</td>
<td class="diff">+17</td>
<td class="points">33</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp11" title="Шампионска Лига">2</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/9tIHqiB1tZmCSuXKfqaw">Манчестър Юнайтед</a></span></span></td>
<td class="matches">16</td>
<td class="matches hide-matches">10</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">33</td>
<td class="goals hide-goals">24</td>
<td class="diff">+9</td>
<td class="points">33</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp11" title="Шампионска Лига">3</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/lwo52WV4vQPXUZMS2T6K">Тотнъм</a></span></span></td>
<td class="matches">16</td>
<td class="matches hide-matches">8</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">29</td>
<td class="goals hide-goals">15</td>
<td class="diff">+14</td>
<td class="points">29</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp11" title="Шампионска Лига">4</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/KhDymOzKKgZXRRA6Pqkm">Лестър</a></span></span></td>
<td class="matches">16</td>
<td class="matches hide-matches">9</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">5</td>
<td class="goals hide-goals">29</td>
<td class="goals hide-goals">20</td>
<td class="diff">+9</td>
<td class="points">29</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp24" title="УЕФА Лига Европа">5</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/zgQOSLYO6SdwCOA2CcM6">Евертън</a></span></span></td>
<td class="matches">16</td>
<td class="matches hide-matches">9</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">5</td>
<td class="goals hide-goals">26</td>
<td class="goals hide-goals">20</td>
<td class="diff">+6</td>
<td class="points">29</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">6</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/I58TLjR31VxO6nkDBPo8">Челси</a></span></span></td>
<td class="matches">16</td>
<td class="matches hide-matches">7</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">31</td>
<td class="goals hide-goals">18</td>
<td class="diff">+13</td>
<td class="points">26</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">7</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/e48obZuRcldTiJZ0BhAj">Астън Вила</a></span></span></td>
<td class="matches">15</td>
<td class="matches hide-matches">8</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">5</td>
<td class="goals hide-goals">29</td>
<td class="goals hide-goals">16</td>
<td class="diff">+13</td>
<td class="points">26</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">8</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/3bzjOO9z3PvUiCjcepX4">Манчестър Сити</a></span></span></td>
<td class="matches">14</td>
<td class="matches hide-matches">7</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">2</td>
<td class="goals hide-goals">21</td>
<td class="goals hide-goals">12</td>
<td class="diff">+9</td>
<td class="points">26</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">9</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/sIcYCdwmk9LkLtkJC6GC">Саутхямптън</a></span></span></td>
<td class="matches">16</td>
<td class="matches hide-matches">7</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">25</td>
<td class="goals hide-goals">19</td>
<td class="diff">+6</td>
<td class="points">26</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">10</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/yYIhAt68dS0cZDXYBvme">Уест Хям</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">7</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">5</td>
<td class="goals hide-goals">24</td>
<td class="goals hide-goals">21</td>
<td class="diff">+3</td>
<td class="points">26</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">11</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/GFtUvnUF446omu66yhAp">Арсенал</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">7</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">8</td>
<td class="goals hide-goals">20</td>
<td class="goals hide-goals">19</td>
<td class="diff">+1</td>
<td class="points">23</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">12</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/vYSzQs1A5qv7qrSSNwBF">Лийдс</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">7</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">8</td>
<td class="goals hide-goals">30</td>
<td class="goals hide-goals">33</td>
<td class="diff">-3</td>
<td class="points">23</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">13</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/0zcJgBodC8v2VrMsZJw2">Уулвърхямптън</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">6</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">7</td>
<td class="goals hide-goals">18</td>
<td class="goals hide-goals">24</td>
<td class="diff">-6</td>
<td class="points">22</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">14</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/PVodv73NiuBVRszV9SMG">Кристъл Палас</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">6</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">7</td>
<td class="goals hide-goals">22</td>
<td class="goals hide-goals">29</td>
<td class="diff">-7</td>
<td class="points">22</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">15</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/BdwUZTixZfq5YgNOAZuo">Нюкасъл</a></span></span></td>
<td class="matches">15</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">6</td>
<td class="goals hide-goals">17</td>
<td class="goals hide-goals">24</td>
<td class="diff">-7</td>
<td class="points">19</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">16</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/4QGnCuFFQNvw2wUXbdEZ">Бърнли</a></span></span></td>
<td class="matches">15</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">7</td>
<td class="goals hide-goals">9</td>
<td class="goals hide-goals">20</td>
<td class="diff">-11</td>
<td class="points">16</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp-none">17</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/KmlIaO2J4iKZqkYR0MXH">Брайтън</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">8</td>
<td class="matches hide-matches">7</td>
<td class="goals hide-goals">21</td>
<td class="goals hide-goals">28</td>
<td class="diff">-7</td>
<td class="points">14</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp1" title="Изпадане">18</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/U7mH70eVx14MtYOS3Mxr">Фулъм</a></span></span></td>
<td class="matches">15</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">8</td>
<td class="goals hide-goals">13</td>
<td class="goals hide-goals">23</td>
<td class="diff">-10</td>
<td class="points">11</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp1" title="Изпадане">19</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/k4L3rzgLaliRwp3osNdL">Уест Бромич</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">11</td>
<td class="goals hide-goals">11</td>
<td class="goals hide-goals">39</td>
<td class="diff">-28</td>
<td class="points">8</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr class="">
<td class="position stp1" title="Изпадане">20</td>
<td class="team"><span class="dc"><span class="dce"><a href="#/details/VDKa7dqObCLUjwsoSZ2p">Шефилд Юнайтед</a></span></span></td>
<td class="matches">17</td>
<td class="matches hide-matches">0</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">15</td>
<td class="goals hide-goals">8</td>
<td class="goals hide-goals">29</td>
<td class="diff">-21</td>
<td class="points">2</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
</tbody>
</table>

<div class="stat-space">
<div class="standing-legend">
<div>
<span class="standing-legend-color stp11"></span>
<span class="standing-legend-text">Шампионска Лига</span>
</div>
<div>
<span class="standing-legend-color stp24"></span>
<span class="standing-legend-text">УЕФА Лига Европа</span>
</div>
<div>
<span class="standing-legend-color stp1"></span>
<span class="standing-legend-text">Изпадане</span>
</div>
</div>
</div>
<div class="stat-space">
</div>
<div class="standing-games-list standing-games-list-main">

</div>
<h2 class="standing-sub-title">Класиране само по домакинства</h2>
<table class="standing">
<thead>
<tr>
<th title="Позиция в класирането само по домакинства">&#8470;</th>
<th title="Футболен отбор">Отбор</th>
<th title="Изиграни мачове до момента на собствен терен">М</th>
<th title="Победи на собствен терен" class="hide-matches">П</th>
<th title="Равенства на собствен терен" class="hide-matches">Р</th>
<th title="Загуби на собствен терен" class="hide-matches">З</th>
<th title="Вкарани голове на собствен терен" class="hide-goals">Вк</th>
<th title="Получени голове на собствен терен" class="hide-goals">Пл</th>
<th title="Голова разлика на собствен терен">ГР</th>
<th title="Спечелени точки на собствен терен" class="points">Т</th>
</tr>
</thead>
<tbody>
<tr>
<td class="position stp-none">1</td>
<td class="team"><span class="dc"><span class="dce">Ливърпул</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">7</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">0</td>
<td class="goals hide-goals">21</td>
<td class="goals hide-goals">8</td>
<td class="diff">+13</td>
<td class="points">22</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">2</td>
<td class="team"><span class="dc"><span class="dce">Челси</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">18</td>
<td class="goals hide-goals">8</td>
<td class="diff">+10</td>
<td class="points">15</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">3</td>
<td class="team"><span class="dc"><span class="dce">Манчестър Сити</span></span></td>
<td class="matches">7</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">14</td>
<td class="goals hide-goals">7</td>
<td class="diff">+7</td>
<td class="points">14</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">4</td>
<td class="team"><span class="dc"><span class="dce">Тотнъм</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">2</td>
<td class="goals hide-goals">13</td>
<td class="goals hide-goals">8</td>
<td class="diff">+5</td>
<td class="points">14</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">5</td>
<td class="team"><span class="dc"><span class="dce">Манчестър Юнайтед</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">12</td>
<td class="goals hide-goals">13</td>
<td class="diff">-1</td>
<td class="points">14</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">6</td>
<td class="team"><span class="dc"><span class="dce">Саутхямптън</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">13</td>
<td class="goals hide-goals">9</td>
<td class="diff">+4</td>
<td class="points">13</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">7</td>
<td class="team"><span class="dc"><span class="dce">Евертън</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">15</td>
<td class="goals hide-goals">12</td>
<td class="diff">+3</td>
<td class="points">13</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">8</td>
<td class="team"><span class="dc"><span class="dce">Уест Хям</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">2</td>
<td class="goals hide-goals">12</td>
<td class="goals hide-goals">10</td>
<td class="diff">+2</td>
<td class="points">12</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">9</td>
<td class="team"><span class="dc"><span class="dce">Уулвърхямптън</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">2</td>
<td class="goals hide-goals">9</td>
<td class="goals hide-goals">8</td>
<td class="diff">+1</td>
<td class="points">12</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">10</td>
<td class="team"><span class="dc"><span class="dce">Кристъл Палас</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">11</td>
<td class="goals hide-goals">15</td>
<td class="diff">-4</td>
<td class="points">12</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">11</td>
<td class="team"><span class="dc"><span class="dce">Лийдс</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">13</td>
<td class="goals hide-goals">13</td>
<td class="diff">0</td>
<td class="points">11</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">12</td>
<td class="team"><span class="dc"><span class="dce">Нюкасъл</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">9</td>
<td class="goals hide-goals">13</td>
<td class="diff">-4</td>
<td class="points">11</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">13</td>
<td class="team"><span class="dc"><span class="dce">Астън Вила</span></span></td>
<td class="matches">7</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">15</td>
<td class="goals hide-goals">11</td>
<td class="diff">+4</td>
<td class="points">10</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">14</td>
<td class="team"><span class="dc"><span class="dce">Лестър</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">11</td>
<td class="goals hide-goals">12</td>
<td class="diff">-1</td>
<td class="points">10</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">15</td>
<td class="team"><span class="dc"><span class="dce">Арсенал</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">9</td>
<td class="goals hide-goals">11</td>
<td class="diff">-2</td>
<td class="points">10</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">16</td>
<td class="team"><span class="dc"><span class="dce">Бърнли</span></span></td>
<td class="matches">7</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">5</td>
<td class="goals hide-goals">7</td>
<td class="diff">-2</td>
<td class="points">10</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">17</td>
<td class="team"><span class="dc"><span class="dce">Фулъм</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">6</td>
<td class="goals hide-goals">12</td>
<td class="diff">-6</td>
<td class="points">6</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">18</td>
<td class="team"><span class="dc"><span class="dce">Брайтън</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">0</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">10</td>
<td class="goals hide-goals">15</td>
<td class="diff">-5</td>
<td class="points">5</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">19</td>
<td class="team"><span class="dc"><span class="dce">Уест Бромич</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">6</td>
<td class="goals hide-goals">5</td>
<td class="goals hide-goals">24</td>
<td class="diff">-19</td>
<td class="points">5</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">20</td>
<td class="team"><span class="dc"><span class="dce">Шефилд Юнайтед</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">0</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">7</td>
<td class="goals hide-goals">4</td>
<td class="goals hide-goals">12</td>
<td class="diff">-8</td>
<td class="points">1</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
</tbody>
</table>
<h2 class="standing-sub-title">Класиране само по гостувания</h2>
<table class="standing">
<thead>
<tr>
<th title="Позиция в класирането само по гостувания">&#8470;</th>
<th title="Футболен отбор">Отбор</th>
<th title="Изиграни мачове до момента на чужд терен">М</th>
<th title="Победи на чужд терен" class="hide-matches">П</th>
<th title="Равенства на чужд терен" class="hide-matches">Р</th>
<th title="Загуби на чужд терен" class="hide-matches">З</th>
<th title="Вкарани голове на чужд терен" class="hide-goals">Вк</th>
<th title="Получени голове на чужд терен" class="hide-goals">Пл</th>
<th title="Голова разлика на чужд терен">ГР</th>
<th title="Спечелени точки на чужд терен" class="points">Т</th>

</tr>
</thead>
<tbody>
<tr>
<td class="position stp-none">1</td>
<td class="team"><span class="dc"><span class="dce">Манчестър Юнайтед</span></span></td>
<td class="matches">7</td>
<td class="matches hide-matches">6</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">0</td>
<td class="goals hide-goals">21</td>
<td class="goals hide-goals">11</td>
<td class="diff">+10</td>
<td class="points">19</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">2</td>
<td class="team"><span class="dc"><span class="dce">Лестър</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">6</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">18</td>
<td class="goals hide-goals">8</td>
<td class="diff">+10</td>
<td class="points">19</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">3</td>
<td class="team"><span class="dc"><span class="dce">Астън Вила</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">2</td>
<td class="goals hide-goals">14</td>
<td class="goals hide-goals">5</td>
<td class="diff">+9</td>
<td class="points">16</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">4</td>
<td class="team"><span class="dc"><span class="dce">Евертън</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">2</td>
<td class="goals hide-goals">11</td>
<td class="goals hide-goals">8</td>
<td class="diff">+3</td>
<td class="points">16</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">5</td>
<td class="team"><span class="dc"><span class="dce">Тотнъм</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">16</td>
<td class="goals hide-goals">7</td>
<td class="diff">+9</td>
<td class="points">15</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">6</td>
<td class="team"><span class="dc"><span class="dce">Уест Хям</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">12</td>
<td class="goals hide-goals">11</td>
<td class="diff">+1</td>
<td class="points">14</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">7</td>
<td class="team"><span class="dc"><span class="dce">Арсенал</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">11</td>
<td class="goals hide-goals">8</td>
<td class="diff">+3</td>
<td class="points">13</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">8</td>
<td class="team"><span class="dc"><span class="dce">Саутхямптън</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">12</td>
<td class="goals hide-goals">10</td>
<td class="diff">+2</td>
<td class="points">13</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">9</td>
<td class="team"><span class="dc"><span class="dce">Манчестър Сити</span></span></td>
<td class="matches">7</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">7</td>
<td class="goals hide-goals">5</td>
<td class="diff">+2</td>
<td class="points">12</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">10</td>
<td class="team"><span class="dc"><span class="dce">Лийдс</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">4</td>
<td class="matches hide-matches">0</td>
<td class="matches hide-matches">5</td>
<td class="goals hide-goals">17</td>
<td class="goals hide-goals">20</td>
<td class="diff">-3</td>
<td class="points">12</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">11</td>
<td class="team"><span class="dc"><span class="dce">Ливърпул</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">5</td>
<td class="matches hide-matches">1</td>
<td class="goals hide-goals">16</td>
<td class="goals hide-goals">12</td>
<td class="diff">+4</td>
<td class="points">11</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">12</td>
<td class="team"><span class="dc"><span class="dce">Челси</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">13</td>
<td class="goals hide-goals">10</td>
<td class="diff">+3</td>
<td class="points">11</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-win"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">13</td>
<td class="team"><span class="dc"><span class="dce">Кристъл Палас</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">11</td>
<td class="goals hide-goals">14</td>
<td class="diff">-3</td>
<td class="points">10</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">14</td>
<td class="team"><span class="dc"><span class="dce">Уулвърхямптън</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">5</td>
<td class="goals hide-goals">9</td>
<td class="goals hide-goals">16</td>
<td class="diff">-7</td>
<td class="points">10</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">15</td>
<td class="team"><span class="dc"><span class="dce">Брайтън</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">11</td>
<td class="goals hide-goals">13</td>
<td class="diff">-2</td>
<td class="points">9</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">16</td>
<td class="team"><span class="dc"><span class="dce">Нюкасъл</span></span></td>
<td class="matches">7</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">3</td>
<td class="goals hide-goals">8</td>
<td class="goals hide-goals">11</td>
<td class="diff">-3</td>
<td class="points">8</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">17</td>
<td class="team"><span class="dc"><span class="dce">Бърнли</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">4</td>
<td class="goals hide-goals">13</td>
<td class="diff">-9</td>
<td class="points">6</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">18</td>
<td class="team"><span class="dc"><span class="dce">Фулъм</span></span></td>
<td class="matches">7</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">2</td>
<td class="matches hide-matches">4</td>
<td class="goals hide-goals">7</td>
<td class="goals hide-goals">11</td>
<td class="diff">-4</td>
<td class="points">5</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-win"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">19</td>
<td class="team"><span class="dc"><span class="dce">Уест Бромич</span></span></td>
<td class="matches">8</td>
<td class="matches hide-matches">0</td>
<td class="matches hide-matches">3</td>
<td class="matches hide-matches">5</td>
<td class="goals hide-goals">6</td>
<td class="goals hide-goals">15</td>
<td class="diff">-9</td>
<td class="points">3</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-draw"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
</span>
</td>
</tr>
<tr>
<td class="position stp-none">20</td>
<td class="team"><span class="dc"><span class="dce">Шефилд Юнайтед</span></span></td>
<td class="matches">9</td>
<td class="matches hide-matches">0</td>
<td class="matches hide-matches">1</td>
<td class="matches hide-matches">8</td>
<td class="goals hide-goals">4</td>
<td class="goals hide-goals">17</td>
<td class="diff">-13</td>
<td class="points">1</td>
<td class="form hide-form">
<span class="form-section">
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-draw"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
<span class="form-el form-loss"></span>
</span>
</td>
</tr>
</tbody>
</table>
</div>

<div id="widgets">
<div class="module-ad-big">
</div>
<div class="module">
<div class="module-title">Статистика за първенството</div>
<div class="module-info">
<p>
Най-много победи: 10<span class="sst"> Манчестър Юнайтед</span>
</p>
<p>
Най-малко победи: 0<span class="sst"> Шефилд Юнайтед</span>
</p>
<p>
Най-малко загуби: 1<span class="sst"> Ливърпул</span>
</p>
<p>
Най-много загуби: 15<span class="sst"> Шефилд Юнайтед</span>
</p>
<p>
Най-много равенства: 8<span class="sst"> Брайтън</span>
</p>
<p>
Най-малко равенства: 2<span class="sst"> Лестър</span>
<span class="sst">Евертън</span>
<span class="sst">Астън Вила</span>
<span class="sst">Арсенал</span>
<span class="sst">Лийдс</span>
<span class="sst">Шефилд Юнайтед</span>
</p>
<p title="Най-добро нападение: 37 г. / 2.31 ср.">
Най-добро нападение: 37 г.<span class="sse"> / 2.31 ср.</span>
<span class="sst">Ливърпул</span>
</p>
<p title="Най-слабо нападение: 8 г. / 0.47 ср.">
Най-слабо нападение: 8 г.<span class="sse"> / 0.47 ср.</span>
<span class="sst">Шефилд Юнайтед</span>
</p>
<p title="Най-добра защита: 12 г. / 0.86 ср.">
Най-добра защита: 12 г.<span class="sse"> / 0.86 ср.</span>
<span class="sst">Манчестър Сити</span>
</p>
<p title="Най-слаба защита: 39 г. / 2.29 ср.">
Най-слаба защита: 39 г.<span class="sse"> / 2.29 ср.</span>
<span class="sst">Уест Бромич</span>
</p>
<p>
Най-добра гол разлика: +17<span class="sst"> Ливърпул</span>
</p>
<p>
Най-лоша гол разлика: -28<span class="sst"> Уест Бромич</span>
</p>
</div>
</div>
</div>

</div>
</div>
</div>


</body>
</html>